/* FeatureSections.css */

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&family=Bebas+Neue&family=Koulen&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&family=Bebas+Neue&family=Koulen&family=Roboto&display=swap');
.featured-container {
    background: black;
    padding: 100px;
}

.featured-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.featured-text {
    padding: 20px;
    color: white;
    max-width: 50%;
}

.featured-text h2 {
    margin-bottom: 10px;
    font-family: 'Archivo Black', sans-serif;
}

.featured-text p {
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
}

.featured-image {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.featured-image img {
    max-width: 100%;
    max-height: 70vh;
    object-fit: cover;
    border-radius: 35px;
}

.white-icon {
    color: white !important;
    /* Set the color to white */
}


/* Media query for mobile view */

@media (max-width: 768px) {
    .featured-content {
        flex-direction: column !important;
        /* Stack content vertically */
        align-items: center !important;
    }
    .featured-image {
        order: -1 !important;
        /* Move the image to the top */
    }
    .featured-text {
        max-width: 80% !important;
        margin-top: -40px !important;
    }
    .featured-container {
        padding: 10px;
    }
}