/* Summary.css (or your CSS file) */

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&family=Bebas+Neue&family=Koulen&family=Roboto&display=swap');
.ftext {
    font-family: 'Archivo Black', sans-serif;
}

.social-btn {
    background: white;
    border: none;
    padding: 0.5rem;
    border-radius: 10px;
    margin-right: 1.2rem;
    transition: background 0.5s ease, color 0.5s ease;
}

.social-btn:hover {
    background: #1A64BA;
}

.social-btn:hover>svg {
    color: white;
}


/* Add the following styles for Twitter and Instagram hover colors */

.social-btn.twitter:hover {
    background: rgb(83, 212, 255);
}

.social-btn.instagram:hover {
    background: #C46200;
}