/* AboutFAQ.css */

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&family=Bebas+Neue&family=Koulen&family=Roboto&display=swap');
.accord {
    width: 50%;
    margin: 0 auto;
    background-color: #1A64BA;
    /* Set the background color */
    color: white;
    font-weight: 600;
    border-radius: 8px;
    /* Set the font color */
}


/* Styling for accordion items */

.accord .accordion-button {
    background-color: #1A64BA;
    color: white;
    /* Add this line to set the outline color */
    transition: background-color 0.3s ease-in-out;
    /* Add transition for smooth hover effect */
}

.accord .accordion-body {
    background-color: #1A64BA;
    color: white;
}


/* Apply hover effect when hovering over accordion items */

.accord .accordion-button:hover {
    background-color: #3373bd;
}

.accordion {
    --bs-accordion-border-color: rgb(13, 75, 169) !important;
    font-weight: 600;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(209, 44, 190, 0.25);
}

.an {
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
}

@media (max-width: 1000px) {
    .accord {
        width: 80%;
    }
}