.video {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    left: 0;
    right: 0;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.overlay {
    position: absolute;
    background-color: #0000009c;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
}

.main {
    width: 100%;
}

.head {
    font-size: 6rem;
}

.switch {
    cursor: pointer;
}

.switch:hover {
    opacity: 90%;
    animation: pulse;
    animation-duration: 1s;
}

.blue-card {
    position: relative;
    background-color: #1A64BA;
    border-radius: 10px;
    padding: 8px;
    width: 50%;
    margin: 0 auto;
    z-index: 0;
    /* Change z-index */
}

.blue-cardf {
    position: relative;
    background-color: #1A64BA;
    border-radius: 10px;
    padding: 8px;
    width: 50%;
    margin: 0 auto;
    z-index: 0;
    /* Change z-index */
}

.white-text {
    color: white;
    font-weight: 400;
    font-size: 1.3rem;
    text-align: center;
    z-index: 4;
    /* Change z-index */
}

.white-textf {
    color: white;
    font-weight: 400;
    font-size: 1.3rem;
    text-align: center;
    z-index: 4;
    /* Change z-index */
}

@media (max-width: 1000px) {
    .head {
        font-size: 4rem;
    }
    .start {
        font-size: 2rem !important;
    }
    .blue-card {
        width: 80%;
    }
    .blue-cardf {
        margin-top: 30px;
        width: 85%;
    }
    .white-textf {
        font-size: 0.95rem !important;
    }
}