@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');
@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Labrada&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&family=Bebas+Neue&family=Koulen&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&family=Bebas+Neue&family=Koulen&family=Roboto&family=Teko:wght@300&display=swap');
.timeline-card-content {
    padding: 20px;
    /* Adjust as needed */
    background: #1A64BA;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    color: #fff;
    cursor: pointer;
}

.timeline-card-content h3,
.timeline-card-content h4,
.timeline-card-content p {
    margin: 0;
}

.video-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    /* 16:9 aspect ratio for video */
    border-radius: 0px 0px 0 0;
}

.timeline-video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.map {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
    overflow: hidden;
}

.title h2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Proxima Nova', sans-serif !important;
    font-size: 3rem;
    color: white;
    font-weight: 600 !important;
    letter-spacing: 1px !important;
    padding-bottom: 40px;
}

.vertical-timeline-element-title {
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.5rem;
}

.timeline-card-content p {
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
}

.vertical-timeline-element--work date {
    color: rgb(88, 138, 182);
}

.vertical-timeline-element-content-arrow {
    border-right: 12px solid rgb(0, 128, 255) !important;
}

.final {
    color: white;
}

.Time {
    margin-top: -50px;
}

.Time .ico {
    font-size: 2.4rem;
    margin-left: 11px;
}

.Time .but {
    font-size: 1.4rem;
}

.Time .create__btn {
    padding: 0px 13px !important;
    font-size: 0.8rem;
    margin-top: 15px;
}

.vertical-timeline-element-content {
    background: none;
    box-shadow: none;
}

.vertical-timeline--two-columns .vertical-timeline-element-content-arrow {
    left: 95.3%;
}

.vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content-arrow {
    right: 95.3%;
}

.num {
    display: flex;
    justify-content: center;
    margin-top: 30%;
    font-weight: bold !important;
}

.welly {
    font-family: 'Archivo Black', sans-serif;
    letter-spacing: 0rem !important;
}

@media only screen and (max-width: 1200px) {
    .Time .ico {
        font-size: 1.7rem;
        margin-left: 6px;
        margin-top: -40px !important;
    }
    .Time .but {
        font-size: 1.4rem;
    }
    .Time .create__btn {
        padding: 0px 13px !important;
        font-size: 0.8rem !important;
        margin-top: 15px;
    }
    .Time .create__btn a {
        font-size: 0.8rem !important;
    }
    .vertical-timeline--two-columns .vertical-timeline-element-content-arrow {
        display: none;
    }
    .vertical-timeline-element-date {
        display: none !important;
    }
    .head {
        text-align: center;
    }
}