@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Koulen&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&family=Bebas+Neue&family=Koulen&family=Roboto&display=swap');
.closeModal {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.revTitle {
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 0.3rem;
}

.fire {
    font-family: 'Archivo Black', sans-serif;
}

.closeModal:hover {
    filter: brightness(100);
}

.modalTitle {
    text-align: center;
    margin-bottom: 15px;
    color: white;
}

.projectDescription {
    margin-bottom: 10px;
    color: white;
    text-align: center;
}

.modal-btn {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(209, 40, 231) !important;
}

.modal-btn:hover {
    color: black !important;
}

@media (max-width: 1000px) {
    .top {
        height: 38vh !important;
    }
}