/* Summary.css */


/* Summary.css */

.summary-container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Add any additional styles you want here */
}

.summary-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/backgrounds/lights.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px);
    /* Adjust the blur amount as needed */
    z-index: -1;
    /* Move the pseudo-element behind the content */
}