body {
    background: url('./assets/backgrounds/carbon.jpg') !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white !important;
}

::-webkit-scrollbar {
    width: 4px;
    background: #191a1c;
}

::-webkit-scrollbar-thumb {
    border-radius: 2em;
    background: linear-gradient(-45deg, #6a30e7, #0e40be, #0064d5, #276ec0);
}